body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #333333;
}

.summary {
    color: #808080;
    border-left: 5px solid #9324db;
    font-size:16px;
}

.text-primary {
  color: #10c0de;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

h3 {color: #9324db; }

h2 {
    color: #333333;
    font-size: 27px;
    font-weight: 400;
    margin: 40px 0 20px;
}

h4 {
    color: #650f8b;
    font-size: 20px;
    /*line-height: 30px;*/
    margin-bottom: 20px;
    font-weight: 500;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #650f8b;
    color: white;
}

#mysidebar.nav > li.active > a {
    background-color: #650f8b;
}

#mysidebar.nav > li > a:hover {
    background-color: #650f8b;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    color: #650f8b;
    text-decoration: underline rgba(101, 15, 139, 0.3);
}

#mysidebar.nav li.thirdlevel > a {
    background-color: #FAFAFA !important;
    color: #650f8b;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}
a[data-toggle] {
    color: #650f8b;
}
.navbar-inverse {
    background: #93047b; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #93047b 0%, #4e1493 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #93047b 0%,#4e1493 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #93047b 0%,#4e1493 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93047b', endColorstr='#4e1493',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-color: #4e1493;
}

/*.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #650f8b;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #650f8b;
    color: #ffffff;
}*/

/* not sure if using this ...*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #650f8b !important;
}

.btn-primary {
    background-color: transparent;
    border: solid 1px rgba(101, 15, 139, 0.3);
    color: #650f8b;
    transition: all .3s ease-in-out;
    border-radius: 50px;
    height: auto;
    padding: 10px 18px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #93047b;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border: solid 1px #10c0de;
    color: #fff;
    background: #10c0de;
}

.btn-md {
    padding: 4px 30px;
    font-size: 17px;
}

.printTitle {
    color: #650f8b !important;
}

body.print h1 {color: #650f8b !important; font-size:28px !important;}
body.print h2 {color: #9304cb !important; font-size:20px !important;}
body.print h3 {color: #9324db !important; font-size:14px !important;}
body.print h4 {color: #9344fb !important; font-size:14px; font-style: italic !important;}

.anchorjs-link:hover {
    color: #650f8b;
}

div.sidebarTitle {
    color: #650f8b;
}

li.sidebarTitle {
    margin-top:40px;
    font-weight:normal;
    font-size:130%;
    color: #5a0d80;
    margin-bottom:10px;
    margin-left: 5px;
}

.items {
    margin: 0 0 15px;
}
.items p, .items li{
    color: #555555;
}

/*Underline header*/
.item-head{
  text-decoration: none;
  border-bottom: 1px solid rgba(101, 15, 139, 0.3);
}

.item-head:hover{
  border-bottom:none;
}

/* Portfolio items*/
.portfolio-item {
  right: 0;
  margin: 0 0 15px;
  min-height: 160px;
  padding: 0 20px;
}

.portfolio-item .portfolio-link .caption {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba("24,288,156",.9);
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -ms-transition: all ease .5s;
  transition: all ease .5s;
}

.portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}

.portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

.portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}

.portfolio-item .portfolio-link .caption .caption-content h3,
.portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}

.portfolio-item .portfolio-link {
  display: block;
  position: relative;
  margin: 0 auto;
}

.img-wrapper {
    min-height: 60px;
    position: relative;
}

/*Collapsing panel*/
.panel-group {
      margin-top: 40px;
}

.panel-body {
  padding-top: 30px;
}

/*Navbar*/
.navbar-fixed-top .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 7px;
    padding-top: 7px;
}

.navbar-fixed-top .navbar-nav .active > a, .navbar-fixed-top .navbar-nav li > a:hover, .navbar-fixed-top .navbar-nav li > a:focus {
    color: #fff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #ffffff;
    border-radius: 5px;
}

.navbar-nav > li > .dropdown-menu {
    overflow: hidden;
    border-radius: 5px;
    border-top: 0;
    padding: 20px;
    top: 85%;
}

.nav li a:hover {
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .open > a .caret,
.navbar-inverse .navbar-nav > .open > a:hover .caret,
.navbar-inverse .navbar-nav > .open > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}

/*Footer*/
footer .footer-below {
  padding: 25px 0;
  color: #b3b3b3;
  background-color: #f4f4f4;
}

footer .footer-below li{
  width: 50px;
}

footer .footer-above ul {
  margin: 15px 0;
}

/*Footer social network buttons*/
.btn-social { 
  position: absolute;
}

.btn-social svg{
  height: 30px;
  width: 30px;
}

.btn-social svg #soc-vk-icon{
  transition: all 1s;
  -webkit-transition: all 1s;
}

.btn-social svg:hover #soc-vk-icon,
.btn-social svg:hover #soc-fb-icon,
.btn-social svg:hover #soc-tw-icon,
.btn-social svg:hover #soc-git-icon,
.btn-social svg:hover #soc-yt-icon,
.btn-social svg:hover #soc-gt-icon {
  fill: #650f8b;
}

#disqus_thread {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
      right: -1px;
  }
}

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s;
  position: relative;
  background: #f1f1f1;
  margin-right: 10px;
  text-align: center
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul li a {
  display: block;
}

#sidebarCollapse {
  position: absolute;
  left: 10px;
  color: #ffffff;
  background-color: transparent;
  border-color: #fff;
  opacity: 0.8;
}

#sidebarCollapse:hover {
  opacity: 1;
}

a[data-toggle="collapse"] {
  position: relative;
}

#mysidebar {
  text-align: left;
}

#content {
  min-height: 100vh;
  transition: all 0.3s;
  margin-bottom: 50px;
}

.fa {
  background: #93047b; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #93047b 0%, #4e1493 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #93047b 0%,#4e1493 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #93047b 0%,#4e1493 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 992px) {
  .wrapper {
    display: block;
  }

  #sidebar,
  #sidebar.active {
    min-width: 0px;
    max-width: 90%;
    margin: auto
  }

  #sidebarCollapse {
    display: none;
  }

  a.dropdown-toggle, .navbar-inverse .navbar-nav > li > a {
    margin-left: 0;
  }

  #search-input {
    width: auto;
  }
}