.summary {
    color: #808080;
    border-left: 5px solid #ED1951;
    font-size:16px;
}

.text-primary {
  color: #C5B64D;
}

h3 {color: #ED1951; }
h4 {color: #808080; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #650f8b;
    color: white;
}

.nav > li.active > a {
    background-color: #650f8b;
}

.nav > li > a:hover {
    background-color: #650f8b;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #917eff;
}

.nav li.thirdlevel > a {
    background-color: #FAFAFA !important;
    color: #650f8b;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}
a[data-toggle] {
    color: #650f8b;
}
.navbar-inverse {
    background-color: #5b4dc5;
    border-color: #4336a8;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #650f8b;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #650f8b;
    color: #ffffff;
}

/* not sure if using this ...*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #650f8b !important;
}

.btn-primary {
    color: #ffffff;
    background-color: #650f8b;
    border-color: #650f8b;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #917eff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #93047b;
    border-color: #4e1493;
}

.printTitle {
    color: #650f8b !important;
}

body.print h1 {color: #650f8b !important; font-size:28px !important;}
body.print h2 {color: #9304cb !important; font-size:20px !important;}
body.print h3 {color: #9324db !important; font-size:14px !important;}
body.print h4 {color: #9344fb !important; font-size:14px; font-style: italic !important;}

.anchorjs-link:hover {
    color: #650f8b;
}

div.sidebarTitle {
    color: #650f8b;
}

li.sidebarTitle {
    margin-top:40px;
    font-weight:normal;
    font-size:130%;
    color: #5a0d80;
    margin-bottom:10px;
    margin-left: 5px;
}
