<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>Іфнормація про лодку :</h1>
<ol>
    <li th:text="|Назва: ${boat.title}|"></li>
    <li th:text="|Опис: ${boat.description}|"></li>
    <li th:text="|максмальна швидкість:  ${boat.speed}|"></li>
    <li th:text="|Місткість: ${boat.seating}|"></li>
    <img th:src="@{${boat.imageURL}}">
    <a href="/catalog">Назад</a>
</ol>
</body>
</html>