[submodule "ember-flexberry-projections"]
	path = ember-flexberry-projections
	url = https://github.com/Flexberry/ember-flexberry-projections.git
[submodule "ember-flexberry"]
	path = ember-flexberry
	url = https://github.com/Flexberry/ember-flexberry.git
