[submodule "master/ember-flexberry"]
	path = master/ember-flexberry
	url = https://github.com/Flexberry/ember-flexberry.git
	branch = master
[submodule "develop/ember-flexberry"]
	path = develop/ember-flexberry
	url = https://github.com/Flexberry/ember-flexberry.git
	branch = develop
[submodule "master/ember-flexberry-data"]
	path = master/ember-flexberry-data
	url = https://github.com/Flexberry/ember-flexberry-data.git
	branch = master
[submodule "develop/ember-flexberry-data"]
	path = develop/ember-flexberry-data
	url = https://github.com/Flexberry/ember-flexberry-data.git
	branch = develop
[submodule "develop/ember-flexberry-gis"]
	path = develop/ember-flexberry-gis
	url = https://github.com/Flexberry/ember-flexberry-gis
	branch = develop
[submodule "master/ember-flexberry-gis"]
	path = master/ember-flexberry-gis
	url = https://github.com/Flexberry/ember-flexberry-gis
	branch = master
