# dependencies
/node_modules
/bower_components

# ide and code editor files
/.idea
.tern-port
.dir-locals.el
.gemrc
Gemfile.lock

# jekyll private files
_site
.sass-cache
.jekyll-metadata
