# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Flexberry PLATFORM Documentation
email: mail@flexberry.net
description: > # this means to ignore newlines until "baseurl:"
  Technical documentation for Flexberry PLATFORM Projects. 
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://flexberry.github.io" # the base hostname & protocol for your site
twitter_username: flexberry
github_username:  Flexberry

# Build settings
markdown: kramdown

exclude: ['LICENSE', 'README.md', 'Gemfile', 'Gemfile.lock']