<script src="https://cdn.jsdelivr.net/npm/algoliasearch@3.32.0/dist/algoliasearchLite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@3.0.0/dist/instantsearch.production.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch-theme-algolia.min.css">

<script>
    const search = instantsearch({
        indexName: '{{ site.algolia.index_name }}',
        searchClient: algoliasearch('{{ site.algolia.application_id }}', '{{ site.algolia.search_only_api_key }}' )
    });
    const renderIndexListItem = ({ label, hits }) => `
  <li>
    Index: ${label}
    <ol>
      ${hits
                .map(
                    hit =>
                        `<li>${instantsearch.highlight({ attribute: 'title', hit })}</li>`
                )
                .join('')}
    </ol>
  </li>
`;

        // Create the render function
        const renderAutocomplete = (renderOptions, isFirstRender) => {
            const { indices, currentRefinement, refine, widgetParams } = renderOptions;

            if (isFirstRender) {
                const input = document.createElement('input');
                const ul = document.createElement('ul');

                input.addEventListener('input', event => {
                    refine(event.currentTarget.value);
                });

                widgetParams.container.appendChild(input);
                widgetParams.container.appendChild(ul);
            }

            widgetParams.container.querySelector('input').value = currentRefinement;
            widgetParams.container.querySelector('ul').innerHTML = indices
                .map(renderIndexListItem)
                .join('');
        };

        // Create the custom widget
        const customAutocomplete = instantsearch.connectors.connectAutocomplete(
            renderAutocomplete
        );

        // Instantiate the custom widget
        search.addWidget(
            customAutocomplete({
                container: document.querySelector('#autocomplete'),
                indices: [
                    { label: 'Flexberry Documentation', value: 'fberry' },
                ],
            })
        );

    search.start();
</script>

<style>
    .ais-search-box {
        max-width: 100%;
        margin-bottom: 15px;
    }

    .post-item {
        margin-bottom: 30px;
    }

    .post-link .ais-Highlight {
        color: #111;
        font-style: normal;
        text-decoration: underline;
    }

    .post-breadcrumbs {
        color: #424242;
        display: block;
    }

    .post-breadcrumb {
        font-size: 18px;
        color: #424242;
    }

    .post-breadcrumb .ais-Highlight {
        font-weight: bold;
        font-style: normal;
    }

    .post-snippet .ais-Highlight {
        color: #2a7ae2;
        font-style: normal;
        font-weight: bold;
    }

    .post-snippet img {
        display: none;
    }
</style>