<footer>
  <div class="footer-below text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; New platform Ltd. 20{{ site.time | date: '%y' }} Создано при поддержке Фонда содействия развитию малых форм предприятий в научно-технической сфере (программа СТАРТ-2013).
        </div>
      </div>
      <div class="row text-center">
        <div class="col-lg-12">
            <ul class="list-inline">
              <li><a target="_blank" href="http://vk.com/flexberry" class="btn-social">
                {% include /icons/soc-vk.svg %}</a>
              </li>
              <li><a target="_blank" href="https://www.facebook.com/groups/Flexberry/" class="btn-social">
                {% include /icons/soc-fb.svg %}</a>
              </li>
              <li><a target="_blank" href="https://twitter.com/Flexberry" class="btn-social">
                {% include /icons/soc-tw.svg %}</a>
              </li>
              <li><a target="_blank" href="https://github.com/Flexberry" class="btn-social">
                {% include /icons/soc-git.svg %}</a>
              </li>
              <li><a target="_blank" href="http://www.youtube.com/user/FlexberryPLATFORM" class="btn-social">
                {% include /icons/soc-yt.svg %}</a>
              </li>
              <li><a target="_blank" href="https://gitter.im/Flexberry" class="btn-social">
                {% include /icons/soc-gt.svg %}</a>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

