<footer>
  <div class="footer-below text-center">
    <div><a target="_blank" rel="noopener" href="https://neoplatform.ru">ООО "Новая платформа"</a> &copy; <span id="copyright-year">2006</span></div>
    <ul class="list-inline">
      <li><a target="_blank" href="http://vk.com/flexberry" class="btn-social">
        {% include /icons/soc-vk.svg %}</a>
      </li>
      <li><a target="_blank" href="https://github.com/Flexberry" class="btn-social">
        {% include /icons/soc-git.svg %}</a>
      </li>
    </ul>
  </div>
</footer>
