<header class="site-header">

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <h1 class="brand" style="padding: 10px 16px 10px; height: 20px; line-height: 20px; margin-left: 0;">
      <img alt="Flexberry Documentation" src="{{ site.baseurl }}/yuidoc-flexberry-theme/assets/css/logo.png" style="max-height: 65%;" title="Flexberry Documentation">
            Flexberry Documentation
      </h1>
      <div class="nav">
        <li class="divider-vertical"></li>
        <li>
          <p class="navbar-text">
            API Docs for Version: <b>master and develop</b>
          </p>
        </li>
      </div>
    </div>
  </div>
  
</header>
